@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App{
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}