.search-field{
    display: flex;
    justify-content: start;
    border-radius: 20px;
    border: 1px solid #999;
    height: 30px;
    margin: 10px;
    background-color: #fff;
}
.search-field-input {
   width: 80%;
   border: none;
   outline: none;
}
.search-icon{
    width: 15px;
    height: 15px;
    padding-top: 7px;
    padding-left: 10px;
    filter: brightness(0.25);
}